<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kawaii Bag Animation</title>

    <link rel="stylesheet" href="splash.css">

    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
</head>

<body>

    <div class="scene">

        <div class="books-wrapper">

            <img src="assets/book.png" class="book">

        </div>
        <div class="bag-container">

            <!-- Glow -->
            <div class="glow"></div>

            <!-- Inside Darkness -->
            <div class="inside-shadow"></div>


            <!-- Bag Body -->
            <img src="assets/bag-body.png" class="bag-body">

            <div class="flap-wrapper">

                <!-- Flap -->
                <img src="assets/png2.png" class="flap flap-front">
                <img src="assets/png1.png" class="flap flap-back">

                <!-- Lock -->
                <div class="lock-wrap">

                    <img src="assets/lock.png" class="lock">

                </div>

            </div>
        </div>


    </div>
    <!-- MAGIC OVERLAY -->
<!-- <div class="magic-overlay">
    
       
        <div class="white-flash"></div>
    
        
        <div class="particles"></div>
    
        
        <div class="loader-wrap">
            <div class="loader"></div>
        </div>
    
    </div>
-->
    <script src="splash.js"></script>

</body>

</html>